# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Environment
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
*.log

# package-lock
package-lock.json